[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.3.1"
gunicorn = "==20.0.4"
psycopg2-binary = "==2.8.5"
pytz = "==2020.5"
sqlparse = "==0.4.1"
cloudinary = "*"
django-tinymce = "*"
Django = "==3.1.5"
django-better-admin-arrayfield = "*"

[dev-packages]

[requires]
python_version = "3.7"
