{% extends 'base.html'%}
{% load static %}

{% block content%}
<main class="">


    <!-- header start -->
    {% block nav %}
    {% include 'components/navigation.html' %}
    {% endblock %}
    <!-- header end -->

      <!-- 404 page intro start -->
      <section class="page-404 bg-dark-1">
        <div class="page-404-bg -light">500</div>

        <!-- container start -->
        <div class="container">
          <!-- row start -->
          <div class="row">
            <div class="col-xl-6 offset-xl-1 col-md-8">
              <div class="page-404-content">
                <h1 class="page-404-title text-white">
                  Internal Server Error
                </h1>
                <p class="page-404-text leading-4xl text-light mt-24 md:mt-16">
                  We are experiencing an internal server error.
                </p>
                <a class="page-404-btn button -md -outline-white text-white mt-32 md:mt-20" data-barba href="{% url 'home' %}">
                  Take me home
                </a>
              </div>
            </div>
          </div>
          <!-- row end -->
        </div>
        <!-- container end -->
      </section>
      <!-- 404 page intro end -->

    <!-- footer start -->
    {% block footer %}
    {% include 'components/footer.html' %}
    {% endblock %}
    <!-- footer end -->
    </main>
    {% endblock %}