{% extends 'base.html'%}
{% load static %}

{% block content%}
<main class="">


    <!-- header start -->
    {% block nav %}
    {% include 'components/navigation.html' %}
    {% endblock %}
    <!-- header end -->


    <!-- section start -->
    {% block welcome %}
    {% include 'components/welcome.html' %}
    {% endblock %}
    <!-- section end -->


    <!-- section start -->
    {% block about %}
    {% include 'components/about.html' %}
    {% endblock %}
    <!-- section end -->


    <!-- section start -->
    {% block portfolio %}
    {% include 'components/portfolio.html' %}
    {% endblock %}
    <!-- section end -->


    <!-- section start -->
    {% block skills %}
    {% include 'components/skills.html' %}
    {% endblock %}
    <!-- section end -->


    <!-- section start -->
    {% block softskills %}
    {% include 'components/softskills.html' %}
    {% endblock %}
    <!-- section end -->


    <!-- section start -->
    {% block companies %}
    {% include 'components/companies.html' %}
    {% endblock %}
    <!-- section end -->


    <!-- section start -->
    {% block reviews %}
    {% include 'components/reviews.html' %}
    {% endblock %}
    <!-- section end -->


    <!-- section start -->
    {% block latestinblog %}
    {% include 'components/latestinblog.html' %}
    {% endblock %}
    <!-- section end -->


    <!-- footer start -->
    {% block footer %}
    {% include 'components/footer.html' %}
    {% endblock %}
    <!-- footer end -->


</main>
{% endblock %}