{% extends 'base.html'%}
{% load static %}

{% block content%}
<main class="">


    <!-- header start -->
    {% block nav %}
    {% include 'components/navigation.html' %}
    {% endblock %}
    <!-- header end -->


    <!-- section start -->
    {% block welcome %}
    {% include 'components/welcome.html' %}
    {% endblock %}
    <!-- section end -->


    <!-- section start -->
    {% block languages %}
    {% include 'components/languages.html' with skills=skills %}
    {% endblock %}
    <!-- section end -->
    


    <!-- section start -->
    {% block portfolio %}
    {% include 'components/portfolio.html' with projects=projects %}
    {% endblock %}
    <!-- section end -->


    <!-- section start -->
    <br>
    {% block skills %}
    {% include 'components/skills.html' %}
    {% endblock %}
    <!-- section end -->


    <!-- section start -->
    {% block featuredproject %}
    {% include 'components/featuredproject.html' with featured_project=featured_project %}
    {% endblock %}
    <!-- section end -->


    <!-- footer start -->
    {% block footer %}
    {% include 'components/footer.html' %}
    {% endblock %}
    <!-- footer end -->


</main>
{% endblock %}