{% extends 'base.html'%}
{% load static %}

{% block content%}
<main class="">


  <!-- header start -->
  {% block nav %}
  {% include 'components/navigation.html' %}
  {% endblock %}
  <!-- header end -->

  <br><br><br>
  <!-- section start -->
  {% block skills %}
  {% include 'components/skills.html' with skills=skills %}
  {% endblock %}
  <!-- section end -->


  <!-- section start -->
  {% block languages %}
  {% include 'components/languages.html' with skills=skills %}
  {% endblock %}
  <!-- section end -->


  <!-- section start -->
  {% block haveaproject %}
  {% include 'components/haveaproject.html' %}
  {% endblock %}
  <!-- section end -->

  <!-- footer start -->
  {% block footer %}
  {% include 'components/footer.html' %}
  {% endblock %}
  <!-- footer end -->


</main>
{% endblock %}