{% extends 'base.html'%}
{% load static %}

{% block content%}
<main class="">


    <!-- header start -->
    {% block nav %}
    {% include 'components/navigation.html' %}
    {% endblock %}
    <!-- header end -->

    <!-- page header start -->
    <section class="masthead -type-work-1 -full-screen bg-black sm:text-left js-masthead-type-work-1 js-bg">
        <div data-parallax="0.7" class="masthead__bg overlay-black-md js-image">
            <div data-parallax-target class="bg-image js-lazy js-bg-item" data-bg="{{project.my_cover_image}}"></div>
        </div>

        <div class="masthead__content">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-sm-10 z-3">
                        <div data-split="lines">
                            <p class="masthead__subtitle text-lg sm:text-base text-white mb-32 sm:mb-24 js-subtitle">
                                {{project.skill.title}}
                            </p>
                        </div>

                        <div data-split="lines">
                            <h1 class="masthead__title text-white fw-700 js-title">
                                {{project.title}}
                            </h1>
                        </div>

                        <div class="masthead__info__wrap">
                            <div class="row y-gap-32">

                                <div class="col-lg-auto  col-sm-6">
                                    <div class="masthead__info">
                                        <div data-split="lines" class="masthead__item js-info-item">
                                            <h5 class="text-lg leading-sm fw-600 text-white">Role</h5>
                                            <p class="text-lg leading-sm text-light mt-12 sm:mt-8">Software Developer
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-auto offset-lg-1 col-sm-6">
                                    <div class="masthead__info">
                                        <div data-split="lines" class="masthead__item js-info-item">
                                            <h5 class="text-lg leading-sm fw-600 text-white">Start</h5>
                                            <p class="text-lg leading-sm text-light mt-12 sm:mt-8">
                                                {{project.start_date|date}}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-auto offset-lg-1 col-sm-6">
                                    <div class="masthead__info">
                                        <div data-split="lines" class="masthead__item js-info-item">
                                            <h5 class="text-lg leading-sm fw-600 text-white">Launch</h5>
                                            <p class="text-lg leading-sm text-light mt-12 sm:mt-8">
                                                {{project.end_date|date}}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-auto offset-lg-1 col-sm-6">
                                    <div class="masthead__info">
                                        <div data-split="lines" class="masthead__item js-info-item">
                                            <h5 class="text-lg leading-sm fw-600 text-white">Website</h5>
                                            <a href="{{project.website}}"
                                                class="button d-block fw-500 text-lg leading-sm text-white mt-12 sm:mt-8">
                                                {{project.website}}
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- page header end -->


    <!-- section start -->
    <section class="layout-pt-lg layout-pb-lg">
        <!-- container start -->
        <div class="container">
            <!-- row start -->
            <div class="row">
                <div class="col-xl-8 col-lg-10">
                    <div class="d-flex text-xs tracking-md">
                        <p class="text-accent fw-600 mr-16">01.-</p>
                        <p class="uppercase fw-500">Description</p>
                    </div>

                    <p class="text-3xl md:text-2xl leading-lg text-black mt-24">
                        {{project.description|safe}}
                    </p>

                </div>

                <br><br><br> <br><br><br> 
                <div class="col-xl-8 col-lg-10">
                    <div class="d-flex text-xs tracking-md">
                        <p class="text-accent fw-600 mr-16">02.-</p>
                        <p class="uppercase fw-500">Technologies Used</p>
                    </div>
                    <br>
                    {% for tech in technologies %}
                    <div class="d-flex align-items-center">
                        <i class="size-2xs str-width-lg text-accent mr-8" data-feather="check"></i>
                        <p class="text-dark">{{tech.title}}</p>
                    </div>
                    {% endfor %}
                </div>

                <br><br><br> <br><br><br>
                <div class="col-xl-8 col-lg-10">
                    <div class="d-flex text-xs tracking-md">
                        <p class="text-accent fw-600 mr-16">03.-</p>
                        <p class="uppercase fw-500">Current Github Activity Chart</p>
                    </div>

                    <p class="text-3xl md:text-2xl leading-lg text-black mt-24">
                        <img src="https://ghchart.rshah.org/dev-jey" alt="Dev-jey Github chart" width="100%" />
                    </p>
                </div>
            </div>
            <!-- row end -->
        </div>
        <!-- container end -->
    </section>
    <!-- section end -->



    <!-- section start -->
    <div class="layout-pt-md">
        <div data-parallax="0.7" class="h-80vh">
            <div data-parallax-target class="bg-image js-lazy" data-bg="{{project.my_bg_image}}"></div>
        </div>
    </div>
    <!-- section end -->


    <!-- footer start -->
    {% block footer %}
    {% include 'components/footer.html' %}
    {% endblock %}
    <!-- footer end -->


</main>
{% endblock %}