{% load static %}
<section class="layout-pt-xl layout-pb-xl">
    <!-- container start -->
    <div class="container">

        <!-- row start -->
        <div class="row">
            <div class="col-xl-5 col-lg-8 col-md-10">
                <div class="sectionHeading -lg">
                    <p class="sectionHeading__subtitle">
                        Work dynamics
                    </p>
                    <h2 class="sectionHeading__title">
                        I believe in code quality
                    </h2>
                </div>
            </div>
        </div>
        <!-- row end -->


        <!-- row start -->
        <div class="row x-gap-60 y-gap-48 layout-pt-md">
            <div class="col-lg-4 col-md-6">
                <div class="">
                    <h4 class="text-xl fw-600">
                        Our Mission
                    </h4>
                    <p class="mt-16">
                        Called fruitful fruitful male female make greater forth man a seas for winged which life
                        yielding his above to myriads of huge lichens days him together. Also don't face. Lights
                        moving god morning day you fruit morning itself.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="">
                    <h4 class="text-xl fw-600">
                        Our Goals
                    </h4>
                    <p class="mt-16">
                        Called fruitful male female make greater forth man a seas for winged which life yielding his
                        above to myriads of huge lichens days him together. Also don't face. Lights moving god
                        morning day you fruit morning itself.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="">
                    <h4 class="text-xl fw-600">
                        Exibitions
                    </h4>
                    <p class="mt-16">
                        Seen from a distance, tint, but on coming closer we to myriads of huge lichens found this
                        was due of a deep crimson and orange, and that the natural colours of the rock, vermilion
                        and blue, lemon.
                    </p>
                </div>
            </div>
        </div>
        <!-- row end -->

    </div>
    <!-- container end -->
</section>