{% load static %}
<section class="layout-pt-md layout-pb-lg" id="contact">
    <!-- container start -->
    <div class="container">
      <!-- row start -->
      <div data-anim="slide-up delay-3" class="row justify-content-center">
        <div class="col-xl-10">
          <div class="sectionHeading -sm">
            <h2 class="sectionHeading__title">
              Drop us a line
            </h2>
            <p class="text-black leading-md mt-12">
              Use the form below or
              <a href="#" class="fw-700">send us an email</a>.
            </p>
          </div>
        </div>

        <div class="w-1/1"></div>

        <div class="col-xl-10 mt-48 sm:mt-32">
          <div class="contact-form -type-1">
            <form class="row x-gap-40 y-gap-32 js-ajax-form" method="POST" action="http://stukram.mikhailmasterov.com/html/contact.php" data-message-success="Your message has been sent! We will reply you as soon as possible." data-message-error="Something went wrong. Please contact us directly at <a href='hello%40stukram.html'>hello@stukram.com</a>.">
              <div class="col-lg-6">
                <label class="js-input-group">
                  Name
                  <input type="text" name="name" data-required placeholder="Fill in your name">
                  <span class="form__error"></span>
                </label>
              </div>

              <div class="col-lg-6">
                <label class="js-input-group">
                  Your phone number (optional)
                  <input type="text" name="phone" placeholder="Phone number">
                  <span class="form__error"></span>
                </label>
              </div>

              <div class="col-lg-6">
                <label class="js-input-group">
                  Email
                  <input type="text" name="email" data-required placeholder="Fill in your email">
                  <span class="form__error"></span>
                </label>
              </div>

              <div class="col-lg-6">
                <label class="js-input-group">
                  Subject
                  <input type="text" name="subject" placeholder="What are you looking for?">
                  <span class="form__error"></span>
                </label>
              </div>

              <div class="col-12">
                <label class="js-input-group">
                  Message
                  <textarea name="message" rows="2" placeholder="Fill in your message"></textarea>
                  <span class="form__error"></span>
                </label>
              </div>

              <div class="col-12 ajax-form-alert js-ajax-form-alert">
                <div class="ajax-form-alert__content">
                </div>
              </div>

              <div class="col-12">
                <button class="button -md -black text-white">
                  Send Message
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- row end -->
    </div>
    <!-- container end -->
  </section>