{% load static %}
<section class="layout-pt-md layout-pb-md">
    <!-- container start -->
    <div class="container-fluid px-0">
        <!-- row start -->
        <div data-anim-wrap class="row no-gutters align-items-center">

            <div class="col-lg-6 z-1">
                <div data-anim-child="img-right cover-white delay-1">
                    <div class="ratio ratio-1:1" data-parallax="0.7">
                        <div data-parallax-target class="bg-image js-lazy" data-bg="{{featured_project.my_bg_image}}"></div>
                    </div>
                </div>
            </div>


            <div class="col-xl-3 col-lg-4 z-2 ml-80 md:ml-0 md:mt-48">
                <div class="sectionHeading -xl md:container pt-16">
                    <div data-anim-child="slide-up delay-8">
                        <p class="sectionHeading__subtitle">
                            Featured Project
                        </p>
                    </div>
                    <div data-anim-child="slide-up delay-9"
                        class="ml-minus-col-1 lg:ml-minus-lg mr-minus-col-2 md:ml-0 md:mr-0">
                        <h2 class="sectionHeading__title mt-48 md:mt-24">
                            Automate<br>
                            Your World
                        </h2>
                    </div>
                    <div data-anim-child="slide-up delay-10">
                        <p class="mt-56 lg:mt-40 md:mt-20">
                            <h4 style="margin-left: -2px;">{{featured_project.title}}</h4>
                            {{featured_project.description | safe}}
                        </p>
                    </div>
                    <div data-anim-child="slide-up delay-11">
                        <a data-barba href="{% url 'single-project' featured_project.slug %}"
                            class="button -md -outline-black text-black mt-56 lg:mt-48 md:mt-32">
                            View More
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <!-- row end -->
    </div>
    <!-- container end -->
</section>