{% load static %}
<footer class="footer -type-1 bg-dark-1">
    <!-- container start -->
    <div class="container">

        <div class="footer__top">
            <!-- row start -->
            <div class="row y-gap-48 justify-content-between">
                <div class="col-lg-auto col-sm-12">
                    <a href="{% url 'home' %}" class="footer__logo text-white">
                        Devjey.
                    </a>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <h4 class="text-xl fw-500 text-white">
                        Contact
                    </h4>

                    <div class="footer__content text-base text-light mt-16 sm:mt-12">
                        <p>Nairobi, Kenya</p>
                        <p class="mt-8">savalijey@gmail.com</p>
                        <p class="mt-8">+254708197333</p>
                    </div>
                </div>

                <div class="col-lg-auto col-sm-4">
                    <h4 class="text-xl fw-500 text-white">
                        Links
                    </h4>

                    <div class="footer__content text-base text-light mt-16 sm:mt-12">
                        <div><a href="{% url 'services' %}" class="button -underline">Services</a></div>
                        <div><a href="{% url 'about' %}" class="button -underline mt-4">About Me</a></div>
                        <div><a href="{% url 'portfolio' %}" class="button -underline mt-4">Portfolio</a></div>
                        <div><a href="{% url 'contact' %}" class="button -underline mt-4">Contacts</a></div>
                    </div>
                </div>

                <div class="col-lg-auto col-auto">
                    <h4 class="text-xl fw-500 text-white">
                        Follow me
                    </h4>

                    <div class="social -bordered mt-16 sm:mt-12">
                        <a class="social__item text-white border-light" href="https://github.com/dev-jey" target="_blank">
                            <i class="fa fa-github"></i>
                        </a>
                        <a class="social__item text-white border-light" href="https://stackoverflow.com/users/10687724/jey-savali" target="_blank">
                            <i class="fa fa-stack-overflow"></i>
                        </a>
                        <a class="social__item text-white border-light" href="https://www.linkedin.com/in/devjey/" target="_blank">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- row end -->
        </div>


        <div class="footer__bottom -light">
            <!-- row start -->
            <div class="row">
                <div class="col">
                    <div class="footer__copyright">
                        <p class="text-light">
                            @ <script>document.write(new Date().getFullYear())</script>, Devjey. Made with passion by Devjey.
                        </p>
                    </div>
                </div>
            </div>
            <!-- row end -->
        </div>

    </div>
    <!-- container end -->
</footer>