{% load static %}
<section class="layout-pt-lg layout-pb-lg">
  <!-- container start -->
  <br><br><br><br><br>
  <div data-anim-wrap class="container">
    <!-- row start -->
    <div class="row">

      <div class="col-lg-6">
        <div class="sectionHeading -md">
          <p class="sectionHeading__subtitle">
            My Skills
          </p>
          <h2 class="sectionHeading__title text-black">
            I build modern experiences
          </h2>
          <p class="mt-24">
            I am a passionate full stack software developer with over 3 years of experience in the field. My main stack
            is Python & Javascript and I have immense experience also working with related technologies in architecture
            design. Throughout my time as a
            software developer, I have worked with different teams to create applications that optimized processes,
            saved
            on cost, and improved users' experience.
          </p>
        </div>
      </div>


      <div class="col-lg-5 offset-lg-1 md:mt-48">
        <div class="lineChart">

          {% for skill in skills %}
          <div data-anim-child="line-chart" class="lineChart__item" data-percent="{{skill.percentage}}">
            <div class="lineChart__content text-black fw-500">
              <p>{{skill.title}}</p>
              <p class="lineChart__number number js-number">{{skill.percentage}}%</p>
            </div>

            <div class="lineChart-bar">
              <div class="lineChart-bar__bg"></div>
              <div class="lineChart-bar__item bg-accent js-bar"></div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

    </div>
    <!-- row end -->
  </div>
  <!-- container end -->
  <br><br><br><br>
</section>