
{% load static %}

<header class="header -light -sticky-light js-header">
    <!-- header__bar start -->
    <div class="header__bar">
        <div class="header__logo js-header-logo">
            <a data-barba href="{% url 'home' %}">
                DEVJEY
            </a>
        </div>

        <div class="header__menu js-header-menu">
            <button type="button" class="nav-button-open js-nav-open">
                <i class="icon" data-feather="menu"></i>
            </button>
        </div>
    </div>
    <!-- header__bar end -->


    <!-- nav start -->
    <nav class="nav js-nav">
        <div class="nav__inner js-nav-inner">
            <div class="nav__bg js-nav-bg"></div>

            <div class="nav__container">
                <div class="nav__header">
                    <button type="button" class="nav-button-back js-nav-back">
                        <i class="icon" data-feather="arrow-left-circle"></i>
                    </button>

                    <button type="button" class="nav-btn-close js-nav-close pointer-events-none">
                        <i class="icon" data-feather="x"></i>
                    </button>
                </div>

                <div class="nav__content">
                    <div class="nav__content__left">
                        <div class="navList__wrap">
                            <ul class="navList js-navList">
                                <li>
                                    <a data-barba href="{% url 'home' %}">
                                        Home
                                    </a>
                                </li> 

                                <li>
                                    <a data-barba href="{% url 'about' %}">About</a>
                                </li>

                                <li>
                                    <a data-barba href="{% url 'services' %}">Services</a>
                                </li>

                                <li>
                                    <a data-barba href="{% url 'portfolio' %}">Portfolio</a>
                                </li>

                                <li>
                                    <a data-barba href="{% url 'contact' %}">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="nav__content__right">
                        <div class="nav__info">
                            <div class="nav__info__item js-navInfo-item">
                                <h5 class="text-sm tracking-none fw-500">
                                    Address
                                </h5>

                                <div class="nav__info__content text-lg text-white mt-16">
                                    <p>
                                        Nairobi, Kenya
                                    </p>
                                </div>
                            </div>

                            <div class="nav__info__item js-navInfo-item">
                                <h5 class="text-sm tracking-none fw-500">
                                    Socials
                                </h5>

                                <div class="nav__info__content text-lg text-white mt-16">
                                    <a href="#">Github</a>
                                    <a href="#">Stack Overflow</a>
                                    <a href="#">Dribble</a>
                                    <a href="#">LinkedIn</a>
                                </div>
                            </div>

                            <div class="nav__info__item js-navInfo-item">
                                <h5 class="text-sm tracking-none fw-500">
                                    Contact Me
                                </h5>

                                <div class="nav__info__content text-lg text-white mt-16">
                                    <a href="#">savalijey@gmail.com</a>
                                    <a href="#">+254708197333</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- nav end -->
</header>