{% load static %}
<section class="layout-pt-xl layout-pb-lg">
    <div data-parallax="0.7" class="bg-fill-image overlay-black-md">
        <div data-parallax-target class="bg-image js-lazy" data-bg="{% static 'img/backgrounds/8.jpg' %}"></div>
    </div>

    <!-- container start -->
    <div class="container">
        <div data-cursor data-cursor-label="DRAG" class="overflow-hidden js-section-slider"
            data-slider-col="base-1 lg-1 md-1 sm-1" data-pagination data-loop>

            <div class="pagination -light js-pagination pt-4 mb-48"></div>

            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-md-10">
                            <div class="testimonials text-center">
                                <p
                                    class="testimonials__comment text-3xl md:text-2xl sm:text-xl fw-600 leading-xl text-white">
                                    Nor themselves introduced themselves unsatiable devonshire get. They why quit
                                    gay cold rose deal park. One same they four did ask busy. Reserved opinions fat
                                    him nay position.
                                </p>

                                <div class="testimonials__author mt-48">
                                    <div class="size-xl mx-auto mb-20">
                                        <div class="bg-image rounded-full swiper-lazy"
                                            data-background="img/testimonials/1.jpg"></div>
                                    </div>

                                    <h5 class="text-lg capitalize text-white fw-600">Gareth Grey</h5>
                                    <p class="capitalize text-light">graphic designer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-md-10">
                            <div class="testimonials text-center">
                                <p
                                    class="testimonials__comment text-3xl md:text-2xl sm:text-xl fw-600 leading-xl text-white">
                                    Green great Called is so rule evening. For appear winged brought divided. Life
                                    fruitful together she&#39;d sixth them evening abundantly herb. Subdue yielding
                                    seas open called living life.
                                </p>

                                <div class="testimonials__author mt-48">
                                    <div class="size-xl mx-auto mb-20">
                                        <div class="bg-image rounded-full swiper-lazy"
                                            data-background="img/testimonials/2.jpg"></div>
                                    </div>

                                    <h5 class="text-lg capitalize text-white fw-600">Alyce Hackett</h5>
                                    <p class="capitalize text-light">developer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-md-10">
                            <div class="testimonials text-center">
                                <p
                                    class="testimonials__comment text-3xl md:text-2xl sm:text-xl fw-600 leading-xl text-white">
                                    Kind isn&#39;t had. Their whose seasons fowl light created they&#39;re void is
                                    female fowl he second shall that from, firmament you over had brought herb void
                                    cattle image form creeping.
                                </p>

                                <div class="testimonials__author mt-48">
                                    <div class="size-xl mx-auto mb-20">
                                        <div class="bg-image rounded-full swiper-lazy"
                                            data-background="img/testimonials/3.jpg"></div>
                                    </div>

                                    <h5 class="text-lg capitalize text-white fw-600">Maegan Leach</h5>
                                    <p class="capitalize text-light">UX designer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- container end -->
</section>