{% load static %}
<section data-speed="1200" data-autoplay-delay="2900"
        class="sliderMain -type-3 js-sliderMain-type-3 sm:layout-mt-headerBar">
        <!-- container start -->
        <div class="container-fluid h-full px-0 sm:px-20">
            <!-- row start -->
            <div class="row sm:justify-content-center h-full">
                <div class="col-xl-3 offset-xl-2 col-lg-4 offset-lg-1 col-md-5 offset-md-1 col-sm-9">
                    <div class="slider__content__wrapper sm:text-center h-full z-3">

                        <div class="slider__content  is-active  js-slider-content">
                            <div data-split="lines">
                                <p class="slider__subtitle text-sm uppercase tracking-md leading-md mb-32 js-subtitle">
                                    Design Inspiration
                                </p>
                            </div>
                            <div data-split="lines" class="mr-minus-col-2 sm:mr-0">
                                <h1 class="slider__title fw-700 leading-xs js-title">
                                    Growing brands through strategy, innovation and creativity.
                                </h1>
                            </div>
                            <div class="slider__button overflow-hidden mt-32">
                                <div class="js-button py-4">
                                    <a href="#" class="button -md -black text-white">
                                        get in touch
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="slider__content  js-slider-content">
                            <div data-split="lines">
                                <p class="slider__subtitle text-sm uppercase tracking-md leading-md mb-32 js-subtitle">
                                    Creating what matters
                                </p>
                            </div>
                            <div data-split="lines" class="mr-minus-col-2 sm:mr-0">
                                <h1 class="slider__title fw-700 leading-xs js-title">
                                    Whatever the challenge, we always deliver a solution.
                                </h1>
                            </div>
                            <div class="slider__button overflow-hidden mt-32">
                                <div class="js-button py-4">
                                    <a href="#" class="button -md -black text-white">
                                        get in touch
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="slider__content  js-slider-content">
                            <div data-split="lines">
                                <p class="slider__subtitle text-sm uppercase tracking-md leading-md mb-32 js-subtitle">
                                    Design Inspiration
                                </p>
                            </div>
                            <div data-split="lines" class="mr-minus-col-2 sm:mr-0">
                                <h1 class="slider__title fw-700 leading-xs js-title">
                                    We create modern experiences for tomorrow’s brands.
                                </h1>
                            </div>
                            <div class="slider__button overflow-hidden mt-32">
                                <div class="js-button py-4">
                                    <a href="#" class="button -md -black text-white">
                                        get in touch
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="slider__content  js-slider-content">
                            <div data-split="lines">
                                <p class="slider__subtitle text-sm uppercase tracking-md leading-md mb-32 js-subtitle">
                                    Creating what matters
                                </p>
                            </div>
                            <div data-split="lines" class="mr-minus-col-2 sm:mr-0">
                                <h1 class="slider__title fw-700 leading-xs js-title">
                                    A reliable, professional agency and startup studio.
                                </h1>
                            </div>
                            <div class="slider__button overflow-hidden mt-32">
                                <div class="js-button py-4">
                                    <a href="#" class="button -md -black text-white">
                                        get in touch
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col layout-pr-headerBar lg:pr-0 col-lg-7 col-md-6 swiper-col">
                    <div class="swiper-container h-100vh">
                        <div class="swiper-wrapper z-2">

                            <div class="swiper-slide overflow-hidden">
                                <div class="slider__img" data-swiper-parallax="150" data-parallax="0.7"
                                    data-swiper-parallax-opacity="0">
                                    <div data-parallax-target class="bg-image swiper-lazy js-image"
                                        data-background="{% static 'img/headers/home-1-slider/1.jpg' %}"></div>
                                </div>

                                <div class="slider__img__cover js-image-cover"></div>

                                <div class="slider__img__bg bg-dark-1"></div>
                            </div>

                            <div class="swiper-slide overflow-hidden">
                                <div class="slider__img" data-swiper-parallax="150" data-parallax="0.7"
                                    data-swiper-parallax-opacity="0">
                                    <div data-parallax-target class="bg-image swiper-lazy js-image"
                                        data-background="{% static 'img/headers/home-1-slider/2.jpg' %}"></div>
                                </div>

                                <div class="slider__img__bg bg-dark-1"></div>
                            </div>

                            <div class="swiper-slide overflow-hidden">
                                <div class="slider__img" data-swiper-parallax="150" data-parallax="0.7"
                                    data-swiper-parallax-opacity="0">
                                    <div data-parallax-target class="bg-image swiper-lazy js-image"
                                        data-background="{% static 'img/headers/home-1-slider/3.jpg' %}"></div>
                                </div>

                                <div class="slider__img__bg bg-dark-1"></div>
                            </div>

                            <div class="swiper-slide overflow-hidden">
                                <div class="slider__img" data-swiper-parallax="150" data-parallax="0.7"
                                    data-swiper-parallax-opacity="0">
                                    <div data-parallax-target class="bg-image swiper-lazy js-image"
                                        data-background="{% static 'img/headers/home-1-slider/4.jpg' %}"></div>
                                </div>

                                <div class="slider__img__bg bg-dark-1"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- row end -->

            <!-- slider nav start -->
            <div class="slider__navs js-slider-nav js-ui">
                <div class="navButton">
                    <button type="button" class="navButton__item button -outline-black text-black js-prev">
                        <i class="icon" data-feather="arrow-left"></i>
                    </button>
                    <button type="button" class="navButton__item button -outline-black text-black mt-12 js-next">
                        <i class="icon" data-feather="arrow-right"></i>
                    </button>
                </div>
            </div>
            <!-- slider nav end -->
        </div>
        <!-- container end -->

        <!-- ui-element start -->
        <div class="ui-element -bottom-left sm:d-none js-ui">
            <button type="button" class="ui-element__scroll text-black js-ui-scroll-button">
                scroll down
                <i class="icon" data-feather="arrow-down"></i>
            </button>
        </div>
        <!-- ui-element end -->
    </section>